.divBorder{
    border-radius: 4px;
    width: 89%;
    height: 15%;
    border: solid,1px,steelblue;
}
.drag-hover .slds-tree__item-label{
    font-weight: bold;
    font-size:18px;
}
.disable-icon{
    pointer-events: none;
    opacity: 0.4;
}
.mark-search{
    background-color: yellow;
}
.slds-border_bottom ,.slds-border_top ,.slds-border_right ,.slds-border_left{
    border-radius: 8px;
}
:host {
    --sds-c-checkbox-toggle-mark-color-foreground:transparent;
}
.best-answer{
    --sds-c-icon-color-foreground-default:rgb(233, 230, 54);
    --sds-c-button-success-color-background :rgb(151, 253, 160);
}
.show-content{
    --sds-c-icon-color-foreground-default:#0070d2
}   